.footer {
  background: url(./../../../assets/icons/noise_transparent@2x.png) repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  &__wrapper {
    padding-top: 40px;
    @media (max-width: ($desktop-width - 20px)) {
      padding-top: 30px;
    }
    @media (max-width: ($table-width - 10px)) {
      padding-top: 28px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 280px 302px 300px;
    gap: 159px;
    @media (max-width: ($desktop-width - 20px)) {
      grid-template-columns: repeat(2, 1fr);
      gap: 69px 37px;
      padding: 0px 34px;
    }
    @media (max-width: ($table-width - 10px)) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 43px;
      padding: 0;
    }
  }
  &__questions {
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-top: 15px;
    @media (max-width: ($desktop-width - 20px)) {
      padding-top: 1px;
    }
    @media (max-width: ($table-width - 10px)) {
      align-items: center;
      gap: 45px;
    }
  }
  &__title {
    color: $color-light;
    padding-top: 2px;
    @media (max-width: ($desktop-width - 20px)) {
      padding-top: 0;
    }
    @media (max-width: ($table-width - 10px)) {
      text-align: center;
      padding: 0 10px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    color: $color-primary;
    text-decoration: none;
    padding-left: 42px;
    position: relative;
    @media (max-width: ($table-width - 10px)) {
      @include font($size: 2.0rem, $height: 2.3rem);
      letter-spacing: 0.06em;
    }
    &-email {
      padding-left: 60px;
      &::before {
        content: '';
        position: absolute;
        background-image: url(./../../../assets/icons/email.svg);
        background-repeat: no-repeat;
        width: 40px;
        height: 32px;
        left: 0;
        top: -2px;
      }
    }
    &-telephone {
      padding-left: 60px;
      padding-top: 6px;
      &::before {
        content: '';
        position: absolute;
        background-image: url(./../../../assets/icons/phone.svg);
        background-repeat: no-repeat;
        width: 40px;
        height: 32px;
        left: 0;
        top: 1px;
        @media (max-width: ($table-width - 10px)) {
          top: -1px;
        }
      }
      @media (max-width: ($table-width - 10px)) {
        padding-top: 4px;
      }
    }
    &-location {
      &::before {
        content: '';
        position: absolute;
        background-image: url(./../../../assets/icons/marker.svg);
        background-repeat: no-repeat;
        width: 22px;
        height: 32px;
        left: -1px;
        bottom: 8px;
        @media (max-width: ($table-width - 10px)) {
          left: 0px;
          bottom: 7px;
        }
      }      
    }
    &-london {      
      padding-top: 5px;
      &::before {
        bottom: -4px;
      }
    }
  }
  &__visit {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 15px;
    .footer__link {
      padding-left: 41px;
    }
    @media (max-width: ($desktop-width - 20px)) {
      max-width: clamp(302px, 40vw, 500px);
      padding-top: 1px;
    }
    @media (max-width: ($table-width - 10px)) {
      gap: 40px;
      max-width: 100%;
    }
  }
  &__img {
    @media (max-width: ($desktop-width - 20px)) {
      margin: 0 auto;
      grid-column: 1 / 3;
    }
    @media (max-width: ($table-width - 10px)) {
      width: clamp(260px, 44vw, 300px);
      margin: 0;
      padding-top: 1px;
    }
  }
}