$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

// Light colors
$color-title-active: #FAFAFA;
$color-bg-gray: #F6F6F6;
$color-light: #FFFFFF;

// Dark colors
$color-text-dark: #CDCDCD;
$color-legal: #B2B2B2;
$color-title: #545454;
$color-text-light: #4C4C4C;
$color-text-button: #292929;
$color-text-modal: #000000;

$desktop-width: 1280px;