.donation {
  background-color: $color-bg-gray;
  &__wrapper {
    padding-top: 80px;
    padding-bottom: 99px;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 380px;
  }
  &__title {
    max-width: 300px;
  }
  &__name-bank {
    @include font($size: 1.5rem, $height: 1.65rem);
    letter-spacing: 0.06em;
    color: $color-title;
  }
  &__number {
    max-width: 349px;
    background-color: $color-primary;
    border: none;
    border-radius: 9px;
    padding: 10px 14px 10px 60px;
    cursor: pointer;
    @extend %transition;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 23px;
      background-image: url(./../../../assets/icons/credit-card.svg);
      background-repeat: no-repeat;
      left: 15px;
      top: 9px;
    }
    @media (hover:hover) {
      &:hover {
        background-color: $color-primary-light;
      }
    }
    &-link {
      color: $color-title;
      text-decoration: none;
    }
  }
  &__legal-info {
    @include font($size: 1.2rem, $height: 1.8rem, $style: italic);
    color: $color-legal;  
  }
}