.not-only {
  background: url(./../../../assets/icons/noise_transparent@2x.png) repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  &__wrapper {
    margin-top: -105px;
    padding-top: 180px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 42px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 163px;    
  }
  &__title {
    max-width: 310px;
    color: $color-light;
  }
  &__text {
    color: $color-text-dark;
  }
  &__button {
    margin-top: 14px;
  }
  &__link {
    @include font($size: 1.7rem, $height: 2.21rem);
    text-decoration: none;
    letter-spacing: 0.06em;
    background-color: $color-primary;
    color: $color-text-button;
    border-radius: 100px;
    padding: 16px 45px;
    @extend %transition;
    @media (hover:hover) {
      &:hover {
        background-color: $color-primary-light;
      }
    }
  }
} 