.header {
  background-color: $color-light;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    @media (max-width: ($table-width - 10px)) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  &__logo {
    &-link {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &__burger {
    display: none;
    @media (max-width: ($table-width - 10px)) {
      display: flex;
      width: 30px;
      height: 22px;
      flex-direction: column;
      gap: 8px;
    }
    &-line {
      width: 100%;
      border: 1px solid #000;
    }
  }
}

.logo {
  margin-top: 3px;
  &__subtitle {
    @include font($size: 1.3rem, $height: 1.495rem);
    letter-spacing: 0.1em;
    color: $color-text-button;
    margin-left: 3px;
  }
}