@font-face {
  font-family: 'Monday Sans';
  src: url('./../assets/font/MondaySansRegular.woff2') format('woff2'),
      url('./../assets/font/MondaySansRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

%transition {
  transition: all .3s ease-out;
}

@keyframes modal-active {  
  0% {top: -200%;}
  50% {top: 5%;}
  100% {top: 0;}  
}
